client_secrets.json

venv/

.env
.vscode/
postgres/
venv/
*/__pycache__/
*.pyc
__pychache__/
./app/alembic/versions/__pycache__
./app/api/api_v1/__pycache__
./app/api/api_v1/endpoints/__pycache__
./app/crud/__pycache__
./app/schemas/__pycache__
./app/shared/__pycache__
./app/models/__pycache__

test.db